.breadcrumb-link {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
    margin-top: 5vh;
    margin-left: 5vh;
    transition: color 0.3s ease;
    position:fixed; /* Добавляем для позиционирования псевдоэлемента */
    display: inline-block; /* Чтобы псевдоэлемент правильно позиционировался */
}

.breadcrumb-link::after {
    content: ''; /* Обязательное свойство для псевдоэлементов */
    display: block;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

.breadcrumb-link:hover::after {
    width: 100%;
}

.cards {
    background-color: #2f2f2f;
    padding: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 12px;
    margin-top: 15vh;
    color: white;
    text-align: center;
}

.cards img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}