.threat-card {
    width: 55vw;
    
    padding: 16px;
    display: flex;
    margin-left: 20px;
    align-items: center; /* Выравниваем картинку и текст */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    gap: 20px; /* Отступ между картинкой и текстом */
    
}
.threat-price{
    color: black;
}
.threat-image {
    width: 120px; /* Фиксированная ширина картинки */
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.threat-content {
    flex-grow: 1; /* Заполняет оставшееся место */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.threat-title {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

.threat-description {
    font-size: 14px;
    color: #666;
}

.threat-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-blue {
    background-color: #007bff;
    color: white;
}

.btn-green {
    background-color: #28a745;
    color: white;
}
